.img1{
    width: 185px;
    height: 240px;
    background-color: #D8D8D8;
    border: 1px solid #a8a8a8;
}
.img2{
    width: 185px;
    height: 240px;
    background-color: #D8D8D8;
    border: 1px solid #a8a8a8;
}
.img3{
    width: 251px;
    height: 240px;
    background-color: #D8D8D8;
    border: 1px solid #a8a8a8;
}